<h2>Edit this feedback</h2>
{{feedback}}
<form action="/feedback/{{feedback._id}}?_method=patch" method="post">
  <div>
      <label>Subject:</label>
      <input type="text" name="subject" value="{{feedback.subject}}"><br>
      <input type="radio" name="type" value="postive">postive<br>
      <input type="radio" name="type" value="negative">negative<br>
      <label name="detail">Details:</label>
      <textarea name="detail" form="detail" value="{{feedback.detail}}">{{feedback.detail}}</textarea>
      <input type="submit" name="Submit" value="Submit">
  </div>
</form>
